.footer {
max-width: 1200px;
height: 690px;
position: relative;
clear: both;
box-sizing: border-box;
background: url(../images/buttons/toaster.png) 49.2% 48% no-repeat;
padding-top: 140px;
margin: 0 auto;
}

.footer div {
	width: 384px;
	box-sizing: border-box;
	font: 14px RobotoRegular;
	color: rgb(108, 108, 108);
	letter-spacing: 2px;
	display: inline-block;
}

.footer h4 {
	font: normal bold 18px RobotoBold;
	letter-spacing: 2.6px;
	color: black;
	margin-bottom: -3px;
    margin-top: 7px;
}

.footer div:nth-child(1), .footer div:nth-child(3) {
	padding-left: 55px;
	float: left;
}

.footer div:nth-child(2), .footer div:nth-child(4) {
	padding-right: 53px;
    float: right;
    text-align: right;
    margin-right: 4px;
}

.footer div.icon-pencil {
	background: url(../images/buttons/left-top-pen.png) top left no-repeat;
}

.footer div.icon-net {
	background: url(../images/buttons/right-top-comp.png) top right no-repeat;
}

.footer div.icon-gear {
	clear: both;
	margin-top: 88px;
	background: url(../images/buttons/left-buttom.png) top left no-repeat;
}

.footer div.icon-comp {
	margin-top: 88px;
	background: url(../images/buttons/right-bottom-monitor.png) top right no-repeat;
}

