.content {
    max-width: 1200px;
    height: 690px;
    position: relative;
    clear: both;
    margin: 0 auto;
    box-sizing: border-box;
}

.sidebar {
	min-width: 96px;
    height: 386px;
    display: inline-block;
    float: left;
    margin-top: 11.5%;
    margin-left: 4.1%;
    width: 32.1%;
    box-sizing: border-box;
}

.sidebar img{
	width: 100%;
    /*max-width: 100%;*/
}

.main {
	padding-left: 6.3%;
    padding-top: 57px;
    float: left;
    position: relative;
    font: 14px RobotoMedium;
    box-sizing: border-box;
    width: 61%;
}


.main h1 {
	font: bold 46px RalewayExtraBold;
    display: inline-block;
    margin-top: 0px;
    padding-top: 0;
    letter-spacing: 3.5px;
}

.main h3 {
	font: 18px RalewayMedium;
    font-weight: 600;
    margin-top: -15px;
    margin-bottom: 21px;
    letter-spacing: -0.7px;
    line-height: 1.3;
}

.img-content {
	float: right;
	display: inline-block;		
}

.img-content img{
	width: 180px;	
	height: 180px;
	position: relative;
	top: 6px;
	float: right;
	margin-left: 20px;
	margin-bottom: 5px;
}

.main p {
	line-height: 171.5%;
	color: rgb(108, 108, 108);
	letter-spacing: 0.6px;
	word-spacing: 1px;
	word-break: normal;	
}

.main ul {
	color: rgb(101, 86, 223);
	margin-top: 20px;
}

.main li {
	font: 14px RobotoMedium;
	line-height: 1.7;
	color: rgb(108, 108, 108);
	letter-spacing: 1.4px;
	list-style: none;
	margin-left: -40px;
	margin-top: 1px;
	background: url(../images/buttons/dote.jpg) 0px 8px no-repeat;
    padding: 0 12px;
}

